$primary-background-color: #a9d3ff;
$secondary-background-color: #fffbfa;
$dark-blue: #3066be;
$primary-color: #0d41e1;
$secondary-color: #fff;
$small-font-size: 12px;


$black: #212529;

@mixin title {
    font-size: 5em;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

@mixin sub-title {
    font-size: 2.5em;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

@mixin primary-button {
    @include button;

    font-size: 1.5em;
    background-color: $primary-color;
    border-color: $primary-color;
    color: $secondary-color;
    position: relative;
    
    &::before{
        content: "";
        transition: all 200ms ease-in-out;
        top:0;
        bottom:0;
        left:0;
        right:0;
        position: absolute;
        border: 2px solid inherit;
        border-width: 2px;
        border-radius: 30px;
    }

    &:hover::before{
        background-color: #000;
        opacity: 0.1;
    }
}

@mixin secondary-button {
    @include button;
    border-color: $primary-color;
    box-shadow: unset;
    background-color: #fff;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: $primary-color;
        color: #fff;
    }
}

@mixin button {
    border-width: 2px;
    border-style: solid;
    text-align: center;
    padding: 10px 20px;
    transition: all 200ms ease-in-out;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
    font-size: .8em;
    outline: none;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;

    &:hover{
        cursor: pointer;
    }
}