@import '../../../../../assets/scss/variables';

.new-comment {
    background-color: #fff;
    padding: 20px;

    .form-group {
        padding: 20px 0 0;
        width: 100%;
        margin: auto;
        text-align: left;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, textarea {
            outline: none !important;
            width: 100%;
            padding: 12px 6px;
            box-sizing: border-box;
            border: 1px solid;
            border-color: #ccc;
            transition: all 200ms ease-in-out;

            &:focus-within {
                border-color: #000;
            }
        }

        textarea {
            min-height: 150px;
        }
        
        .alert {
            margin-top: 10px;
        }
    }

    .comment-details{
        overflow: hidden;
        display: block;

        .form-group {
            @media (min-width: 576px) {

                &.small {
                    width: 50%;
                    display: inline-block;
                    float: left;
                    
                    &:nth-child(even){
                        padding-left: 10px;
                    }
                    &:nth-child(odd){
                        padding-right: 10px;
                    }
                    box-sizing: border-box;
                }
            }
        }
    }
}

.cancel {
    &:hover{
        cursor: pointer;
    }

    float: right;
    color: $active-color;
    margin-top: 12px;
}