<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">About Me</h3>
            </div>
            <div class="card-body">
                <form id="aboutMeForm">
                    <div class="form-group">
                        <label class="col-form-label">Title</label>
                        <input type="text" class="form-control" required [(ngModel)]="aboutMe.title" name="title" id="title">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Content</label>
                        <quill-editor (onContentChanged)="textChanged($event)" [(ngModel)]="aboutMe.content" name="content"></quill-editor>  
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="submit()">Save</button>
            </div>
        </div>
    </div>
</div>
