<div class="modal-header">
    <h4 class="modal-title" id="modal-project-title">Remove project</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <p>Are you sure you want to remove <b>{{ project.title }}</b>, this action can not be undone.</p>

  </div>
  <div class="modal-footer justify-content-between">

    <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="remove(project.id)">Remove</button>
    
  </div>