<form class="new-comment" id="newComment">
    <div class="comment-details">
        <div class="form-group small">
            <label for="name">Name <span class="required">*</span></label>
            <input type="text" autocomplete="name" required="required" name="name" [(ngModel)]="model.name" 
                minlength="1" maxlength="16">
            <div *ngIf="nameError" class="alert">
                <span class="input-error">{{ nameError }}</span>
            </div>
        </div>
        <div class="form-group small">
            <label for="email">Email</label>
            <input type="email" autocomplete="email" required="required" name="email" [(ngModel)]="model.email" 
                minlength="3" maxlength="128">
    
            <div *ngIf="emailError" class="alert">
                <span class="input-error">{{ emailError }}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="content">Comment <span class="required">*</span></label>
        <textarea name="content" [(ngModel)]="model.content" maxlength="512"></textarea>
        <div *ngIf="commentError" class="alert">
            <span class="input-error">{{ commentError }}</span>
        </div>
    </div>
    <div class="error-container" *ngIf="error">
        <span class="custom-error">
          {{ error }}
        </span>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="createComment()">Post Comment</button>
    </div>
</form>