.custom-error {
    color: #dc3545;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #000;
}

.dark-mode {

    /* Add dark-mode support for quill */
    .ql-snow .ql-stroke{
        stroke: #fff;
    }

    .ql-snow .ql-picker{
        color: #fff;
    }

    .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill{
        fill: #fff;
    }

    /* Add dark-mode support for select2 */
    .select2-container--default .select2-selection--multiple{
        background-color: #343a40;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice{
        background-color: rgba(0,0,0,.1);
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
        color: #fff;
    }
}

.no-search .select2-search {
    display:none
}

/* ql.scss */
.ql-editor{
    min-height: 10em;
}

.dark-mode .ql-toolbar.ql-snow,
.dark-mode .ql-container.ql-snow {
    border-color: #6c757d;
}