<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Email Settings</h3>
            </div>
            <div class="card-body">
                <form id='email-settings-form'>
                    <div class="form-group">
                        <label class="col-form-label">Email address</label>
                        <input type="email" autocomplete="email" class="form-control" [(ngModel)]="model.email" name="email">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Display name</label>
                        <input type="text" class="form-control" [(ngModel)]="model.displayName" name="displayName">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Host</label>
                        <input type="text" class="form-control" [(ngModel)]="model.host" name="host">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Port</label>
                        <input type="number" class="form-control" [(ngModel)]="model.port" name="port">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Username</label>
                        <input type="text" class="form-control" [(ngModel)]="model.username" name="username">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Password</label>
                        <input type="password" autocomplete="current-password" class="form-control" [(ngModel)]="model.password" name="password">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Send test mail to</label>
                        <input type="text" class="form-control" [(ngModel)]="model.sendTestEmailTo" name="sendTestEmailTo">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="model.enableSsl" name="enableSsl" id="enableSsl">
                        <label class="form-check-label" for="enableSsl">Enable SSL</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="model.useDefaultCredentials" name="useDefaultCredentials" id="useDefaultCredentials">
                        <label class="form-check-label" for="useDefaultCredentials">Use default credentials</label>
                    </div>
                    <div class="custom-error" *ngIf="error">
                        <label>{{error}}</label>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="submit()">Save</button>
            </div>
        </div>
    </div>
</div>
