<section id="my-work">
    <div class="section-header">
        <h1>MY WORK</h1>
    </div>
    <div class="section-body container">
        <div class="projects">
            <div class="project">
                <div class="project-details-top">
                    Lorem ipsum
                </div>
                <div class="project-details-image">
                    <img src="../../../assets/images/projects/Screenshot_2.png">
                </div>
                <div class="project-details-bottom">
                    <button class="btn">Read more</button>
                </div>
            </div>
            <div class="project">
                <div class="project-details-top">

                </div>
                <div class="project-details-image">
                    <img src="../../../assets/images/projects/Screenshot_3.png">
                </div>
                <div class="project-details-bottom">

                </div>
            </div>
        </div>
    </div>
</section>