<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let skillGroup of skillGroups">
        

        <div class="card">
            <div class="card-header">

                <div *ngIf="!skillGroup.inEditMode" class="title" [id]="'title-' + skillGroup.id">
                    <div class="float-left">
                        {{skillGroup.title}}
                    </div>
                    <div class="float-right">
                        <i class="fas fa-pen-alt" (click)="edit(skillGroup.id)"></i>
                        <i class="fas fa-trash-alt" (click)="delete(skillGroup)"></i>
                    </div>

                    
                </div>
        
                <div *ngIf="skillGroup.inEditMode" class="edit" [id]="'edit-' + skillGroup.id">
                    <div class="float-left">
                        <form [id]="'edit-form-' + skillGroup.id">
                            <input type="text" class="form-control" [id]="'edit-title-' + skillGroup.id" [value]="skillGroup.title" name="title">
                            <span class="custom-error" *ngIf="editError">{{ editError }}</span>
                        </form>
                    </div>
                    <div class="float-right">
                        <i class="fas fa-save" (click)="saveEdit(skillGroup.id)"></i>
                        <i class="fas fa-times" (click)="cancelEdit(skillGroup.id)"></i>
                    </div>
                </div>
            </div>
            <app-list-skills [skillGroup]="skillGroup"></app-list-skills>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <app-create-skill-group (onCreated)="skillGroupCreated($event)" *ngIf="showCreateSkillGroup"></app-create-skill-group>
    </div>
    

    <div class="col-12">
        <button class="btn btn-primary" (click)="showCreateSkillGroup = true">Add Skill Group</button>
    </div>
</div>