<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Schedule tasks
                </h3>
            </div>
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Seconds (run period)</th>
                          <th>Type</th>
                          <th>Enabled</th>
                          <th>Stop on error</th>
                          <th>Last start date</th>
                          <th>Last end date</th>
                          <th>Last success date</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="scheduleTasks?.length != 0">
                        <tr *ngFor="let scheduleTask of scheduleTasks;">
                            <td> {{ scheduleTask.name }} </td>
                            <td> {{ scheduleTask.seconds }} </td>
                            <td> {{ scheduleTask.type }} </td>
                            <td> 
                                <ng-container *ngIf="scheduleTask.enabled; else unpublished">
                                  <i class="fas fa-check"></i>
                                </ng-container>
                                <ng-template #unpublished>
                                  <i class="fas fa-ban"></i> 
                                </ng-template>
                            </td>
                            <td> 
                                <ng-container *ngIf="scheduleTask.stopOnError; else unpublished">
                                  <i class="fas fa-check"></i>
                                </ng-container>
                            </td>
                            <td> <ng-container *ngIf="scheduleTask.lastStartUtc">{{ scheduleTask.lastStartUtc | datePrinter }}</ng-container></td>
                            <td> <ng-container *ngIf="scheduleTask.lastEndUtc">{{ scheduleTask.lastEndUtc | datePrinter }}</ng-container></td>
                            <td> <ng-container *ngIf="scheduleTask.lastSuccessUtc">{{ scheduleTask.lastSuccessUtc | datePrinter }}</ng-container></td>
                            <td> 
                              <div class="actions">
                                <div (click)="edit(scheduleTask)" class="action">
                                  <i class="fas fa-pen-alt"></i>
                                </div>
                                <div (click)="delete(scheduleTask)" class="action">
                                  <i class="fas fa-trash-alt danger"></i>
                                </div>
                              </div>
                            </td>
                          </tr>
                      </tbody>
                      <tbody *ngIf="scheduleTasks?.length == 0">
                        <tr>
                          <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary" (click)="add()">Add schedule task</button>
            </div>
        </div>
    </div>
</div>
