<app-navbar></app-navbar>

<div class="image-banner" *ngIf="blogPost && blogPost.bannerPicture">
    <img [src]="baseUrl + blogPost.bannerPicture.path" [alt]="blogPost.bannerPicture.altAttribute ?? ''" [title]="blogPost.bannerPicture.titleAttribute ?? ''">
</div>
<div class="main-container">
    <div class="blog-container" *ngIf="blogPost">
        <div class="blog-post">
            <div class="blog-post-header">
                <h1>{{blogPost.title}}</h1>
            </div>
            <div class="blog-post-body">
                <div [innerHtml]="blogPost.content"></div>
            </div>
            <div class="blog-comments">
                <h2>Comments</h2>
                <div class="new-comment">
                    <app-comment-new [blogPost]="blogPost" (onCommentCreated)="onCommentCreated($event)"></app-comment-new>
                </div>
                <ng-container *ngIf="blogPost.comments">
                    <app-comment-list [comments]="blogPost.comments"></app-comment-list>
                </ng-container>
            </div>
        </div>
        <div class="right-side-wrapper">
            <div class="right-side">
                <app-blog-subscribe></app-blog-subscribe>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
