@import "../../../../assets/scss/variables.scss";

.about-me-container{
    width: 100%;
    overflow: hidden;
}

.about-me{
    margin: 0 auto;
    max-width: 35em;
    padding: 0 25px;

    .sub-title {
        text-align: left;
    }
}

.wave path{
    fill: $secondary-background-color;
}
