<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Blog posts
                </h3>
            </div>
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Published</th>
                          <th>Created</th>
                          <th>Last updated date</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="blogPosts?.length != 0">
                        <tr *ngFor="let post of blogPosts">
                          <td>{{post.title}}</td>
                          <td [innerHtml]="post.description"></td>
                          <td>
                            <ng-container *ngIf="post.isPublished; else unpublished">
                                <i class="fas fa-check"></i>
                              </ng-container>
                              <ng-template #unpublished>
                                <i class="fas fa-ban"></i> 
                              </ng-template>
                          </td>
                          <td> {{ post.createdAtUTC | datePrinter }} </td>
                          <td> {{ post.updatedAtUtc | datePrinter }} </td>
                          <td>
                            <div class="actions">
                                <div class="action" (click)="editBlogPost(post.id)">
                                  <i class="fas fa-pen-alt"></i>
                                </div>
                                <div class="action" (click)="deleteBlogPost(post)">
                                  <i class="fas fa-trash-alt danger"></i>
                                </div>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="blogPosts?.length == 0">
                        <tr>
                          <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="card-footer">
              <a routerLink="/blog/new" class="btn btn-primary">Add new post</a>
            </div>
        </div>
    </div>
</div>