@import '../../../../assets/scss/table.scss';

.card-body .row {
    margin-bottom: 5px;
}

.picture-form:last-child {
    margin-top: 20px;
}

.saveBlog{
    margin-bottom: 1rem;
}

.card-body {
    overflow: hidden;
    width: 100%;

    table .comment {
        max-width: 20%;
    }
}