<h2 class="sub-title">My Projects</h2>

<div class="projects">
    <div class="project" *ngFor="let project of projects">
        <div class="project-container">
            <div class="project-image">
                <img alt="" data-src="assets/images/projects/projectOne.png" [src]="baseUrl + project.imagePath">
            </div>
            <div class="project-content">
                <div class="project-title">
                    <h3>{{project.title}}
                    </h3>
                </div>
                <div class="links">
                    <a *ngIf="project.demoUrl !== undefined && project.demoUrl.length !== 0" class="link" [href]="project.demoUrl" target="_blank" title="Demo">
                        <img src="../../assets/icons/demo.svg" >
                     </a>
                    <a *ngIf="project.githubUrl !== undefined && project.githubUrl.length !== 0" class="link" [href]="project.githubUrl" target="_blank" title="Source">
                        <img src="../../assets/icons/github.svg" >
                    </a>
                </div>
                <div class="project-description">
                    <div [innerHTML]="project.description"></div>
                </div>
                <div class="project-footer">
                    <div class="skills-container">
                        <label>Skills used to make this project</label>
                        <div class="skills">
                            <span *ngFor="let skill of project.skills" class="badge">{{skill.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
