<!-- <ng-container *ngIf="finishedLoading">
    <div class="landing-about-me-container">
        <section class="landing">
            <div id="particles-js"></div>
            <div class="hero-wrapper">
                <div class="text">
                    <div class="text-wrapper">
                        <h1 class="title">{{generalSettings?.landingTitle}}</h1>
                        <h2 class="sub-title">{{generalSettings?.landingDescription}}</h2>
                        <a class="btn primary-btn scroll" ScrollTo scrollToId="about-me" alt="scrolls to the about me section">{{generalSettings?.callToActionText}}</a>
                    </div>
                </div>
            </div>
    
            <div class="icon">
                <img src="../../assets/images/icons/hero-blub.svg">
            </div>
        </section>
        <section id="about-me" class="about-me">
            <app-about-me [aboutMe]="aboutMe"></app-about-me>
        </section>
    </div>
    <section class="my-skills">
        <app-skills [skillGroups]="skillGroups"></app-skills>
    </section>
    <section class="projects">
        <app-projects [projects]="projects"></app-projects>
    </section>
    <section class="contact-me">
        <app-contact-me [generalSettings]="generalSettings"></app-contact-me>
    </section>
    <app-footer [generalSettings]="generalSettings"></app-footer>
    
</ng-container> -->

<app-navbar></app-navbar>