@import "../../../../assets/scss/variables.scss";

.landing-about-me-container{
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../../../../assets/images/backgrounds/herobg.svg');
        opacity: 0.1;
    }

    #particles-js{
        position: absolute;
        top: 0;
        left:0;
        right:0;
        bottom:0;
        z-index: -1;
    }
}


.landing {
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    
    .hero-wrapper{
        position: relative;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);

        @media(min-width: 1024px){
            display: flex;
            align-items: center;
            justify-content: space-between;
            .sub-title{
                text-align: left;
            }
        }
    }
    .text{
        float: left;

        .title {
            @include title;
        }

        .sub-title {
            @include sub-title;
        }

        .btn {
            margin-top: 10px;
        }

        @media(max-width: 1023px){
            text-align: center;
            float: initial;
        }
    }

    .icon{
        position: absolute;
        top: 5%;
        right: 5%;
        min-width: 200px;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);

        img{
            float: right;
            width: 50%;
            display: block;
        }

        @media(max-width: 1023px){
            display: none;
        }
    }
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 0;
    opacity: 0.7 ;
}

section.about-me {
    padding: 100px 0 0;
    overflow: hidden;
    position: relative;
}

section.my-skills {
    padding: 0 0 0 0;
    position: relative;
    z-index: 10;
    margin-top: -5%;
    background-color: $secondary-background-color;
}

section.projects{
    background-color: $primary-background-color;
}

section.contact-me {
    text-align: center;
    background-color: $dark-blue;
    padding-bottom: 50px;
}