<div class="card">
    <div class="card-header">
        <div class="float-left">
            <form id="createForm">
                <input type="text" class="form-control" id="tite" name="title" [(ngModel)]="model.title" maxlength="64">
                <span class="custom-error" *ngIf="error">{{ error }}</span>
            </form>
        </div>
        <div class="float-right">
            <i class="fas fa-save" (click)="save(false)"></i>
            <i class="fas fa-times" (click)="cancel()"></i>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Icon</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save(true)">Add Skill</button>
    </div>
</div>