#skills {
    background-color: #fff;

    .skill-group {
        overflow: hidden;

        .skills-container{
            overflow: hidden;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .skill {
                background-color: #fff;
                border-radius: 50%;
                padding: 25px;
                display: block;
                float: left;
                margin: 20px;
                width: 3em;
                height: 3em;
                box-shadow: #00000029 -1px -1px 3px, #00000029 1px 1px 3px; 
            }
        }
    }
}