<section id="skills">
    <div class="section-header">
        <h1 data-aos="fade-left">SKILLS</h1>
        <div class="section-header-line" data-aos="fade-left" data-aos-delay="300"></div>
    </div>
    <div class="section-body container">
        <div class="skill-groups">
            <div *ngFor="let skillGroup of skillGroups" class="skill-group">
                <div class="skill-group-title">
                    <h3>{{ skillGroup.title }}</h3>
                </div>
                <div class="skill-group-skills">
                   <div class="skills-container">
                       <div *ngFor="let skill of skillGroup.skills; index as i" class="skill" data-aos="fade-up" data-aos-delay="50">
                            <img [src]="baseUrl + skill.iconPath">
                       </div>
                   </div> 
                </div>
            </div>
        </div>
    </div>
</section>