<section id="skills">
    <div class="section-header">
        <h1 data-aos="fade-left">SKILLS</h1>
        <div class="section-header-line" data-aos="fade-left" data-aos-delay="300"></div>
    </div>
    <div class="section-body container">
        <div class="skill-groups">
            <div class="skill-group">
                <div class="skill-group-title">
                    <h3 >Front end</h3>
                </div>
                <div class="skill-group-skills">
                   <div class="skills-container">
                       <div class="skill" data-aos="fade-up" data-aos-delay="50">
                            <img _ngcontent-ivn-c8="" src="https://api.bartblokhuis.com/uploads/ffghphhg.hnb.svg">
                       </div>
                       <div class="skill" data-aos="fade-up" data-aos-delay="100">
                            <img _ngcontent-ivn-c8="" src="https://api.bartblokhuis.com/uploads/ffghphhg.hnb.svg">
                        </div>
                        <div class="skill" data-aos="fade-up" data-aos-delay="150">
                            <img _ngcontent-ivn-c8="" src="https://api.bartblokhuis.com/uploads/ffghphhg.hnb.svg">
                        </div>
                        <div class="skill" data-aos="fade-up" data-aos-delay="200">
                            <img _ngcontent-ivn-c8="" src="https://api.bartblokhuis.com/uploads/ffghphhg.hnb.svg">
                        </div>
                   </div> 
                </div>
            </div>
            <div class="skill-group">
                <div class="skill-group-title">
                    <h3>Front end</h3>
                </div>
                <div class="skill-group-skills">
                   <div class="skills-container">
                       <div class="skill">
                            <img _ngcontent-ivn-c8="" src="https://api.bartblokhuis.com/uploads/ffghphhg.hnb.svg">
                       </div>
                       <div class="skill">
                            <img _ngcontent-ivn-c8="" src="https://api.bartblokhuis.com/uploads/ffghphhg.hnb.svg">
                        </div>
                   </div> 
                </div>
            </div>
            <div class="skill-group">
                <div class="skill-group-title">
                    <h3>Front end</h3>
                </div>
                <div class="skill-group-skills">
                   <div class="skills-container">
                       <div class="skill">
                            <img _ngcontent-ivn-c8="" src="https://api.bartblokhuis.com/uploads/ffghphhg.hnb.svg">
                       </div>
                       <div class="skill">
                            <img _ngcontent-ivn-c8="" src="https://api.bartblokhuis.com/uploads/ffghphhg.hnb.svg">
                        </div>
                        <div class="skill">
                            <img _ngcontent-ivn-c8="" src="https://api.bartblokhuis.com/uploads/ffghphhg.hnb.svg">
                        </div>
                   </div> 
                </div>
            </div>
        </div>
    </div>
</section>