@import "../../../../assets/scss/variables.scss";

section.my-skills{
    padding: 0 0 0 0;
    position: relative;
    z-index: 10;
    margin-top: -5%;
    background-color: $secondary-background-color;

    
}

.skill-container{
    padding: 100px 10% 0;

    .skill-group {
        padding-top: 25px;
        overflow: hidden;
    
        h3{
            padding-top: 25px;
            text-align: center;
        }
    
        .skills {
            overflow: hidden;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
    
        .inner-wrapper{
            overflow: hidden;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .skills-item {
            background-color: #fff;;
            border-radius: 50%;
            padding: 25px;
            display: block;
            float: left;
            margin: 20px;
            width: 3em;
            height: 3em;
            box-shadow: rgba(0, 0, 0, 0.16) -1px -1px 3px 0px, rgba(0, 0, 0, 0.16) 1px 1px 3px 0px;
        }
        
        .skills-item:nth-child(5){
            clear: both;
        }
    }
}

img {
    max-width: 50px;
}    

.wave{
    path {
         fill: $primary-background-color;
    }
}