
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          General
      </h3>
      </div>
      <form id="addProjectForm">
        <div class="card-body">
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" required [(ngModel)]="model.title" name="title" maxlength="64"/>
        </div>

        <div class="form-group">
            <label>Description</label>
            <app-rich-text-editor [(ngModel)]="model.description" name="description"></app-rich-text-editor>
        </div>

        <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Skills</label>
                <select class="select2" multiple="multiple" style="width: 100%;">
                  <optgroup *ngFor="let skillGroup of skillGroups" label="{{skillGroup.title}}">
                    <ng-container *ngFor="let skill of skillGroup.skills">
                      <option [value]="skill.id">
                        <img [id]="skill.iconPath"/>
                        {{skill.name}}
                      </option>
                    </ng-container>       
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="new-project-published"  [(ngModel)]="model.isPublished" name="published"/>
                <label class="form-check-label" for="exampleCheck1" for="new-project-published" >Published</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12">
              <label *ngIf="apiError" class="custom-error">{{ apiError }}</label>
            </div>
          </div>
          <button class="btn btn-primary" (click)="submit()">Add project</button>
        </div>
    </form>
    </div>
  </div>
</div>
