


<nav id="navbar">
    <div class="container">
        <div class="button-container">
            <button (click)="toggleNavBar()" type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        </div>
        <div id="toggleNavBar" class="navbarContent">
            <ul>
                <li *ngFor="let menuItem of menuItems;"><a [ngClass]="menuItem.active ? 'nav-item active' : 'nav-item'" (click)='navigate(menuItem)'>{{menuItem.friendlyName}}</a></li>
            </ul>
        </div>
        
    </div>
</nav>
