<div class="modal-header">
    <h4 class="modal-title" id="modal-project-title">Upload picture</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal?.close()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="addSkillForm">
    <div class="modal-body">
       <app-picture (updatedPicture)="modal?.close($event)"></app-picture>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" (click)="modal?.close()">Cancel</button>
    </div>
</form>