@import "./assets/scss/variables.scss";

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    font-weight: normal;
    background-color: $primary-background-color;
}

.primary-btn {
    @include primary-button;
}

.secondary-button{
    @include secondary-button;
}

.title {
    text-align: center;
    @include title;
}

.sub-title {
    font-size: 3em;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

section {
    padding: 100px 10%;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.badge{
    font-size: $small-font-size;
    background-color: $primary-color;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0 2px;
}

.svg-icon {
    width: 1em;
    height: 1em;
  }

section.projects,
section.my-skills{
    overflow: hidden;
    padding: 0 10% 100px;
    position: relative;
    z-index: 10;
    margin-top: -5%;
}

h3{
    font-weight: 400;
    font-size: 2em;
    margin: 0;
}