<form id="editProjectForm">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            General
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
            </button>
        </div>
        </div>
        <div class="card-body">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control" type="text" required [(ngModel)]="model.title" name="title"/>
            </div>

            <div class="form-group">
              <label>Description</label>
              <app-rich-text-editor [(ngModel)]="model.description" name="description"></app-rich-text-editor>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Skills</label>
                  <select class="select2 form-control" multiple="multiple" style="width: 100%;">
                    <optgroup #skillSelect *ngFor="let skillGroup of skillGroups" label="{{skillGroup.title}}" >
                      <ng-container *ngFor="let skill of skillGroup.skills">
                        
                          <option [selected]="skillIds.indexOf(skill.id) !== -1" [value]="skill.id">
                              <img [id]="skill.iconPath"/>
                              {{skill.name}} 
                          </option>

                      </ng-container>       
                    </optgroup>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="new-project-published"  [(ngModel)]="model.isPublished" name="published"/>
                  <label class="form-check-label" for="exampleCheck1" for="new-project-published" >Published</label>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <app-list-project-pictures [pictures]="project?.pictures ?? []" [projectId]="project?.id ?? 0"></app-list-project-pictures>
  <app-list-url [urls]="project?.urls ?? []" [projectId]="project?.id ?? 0"></app-list-url>

  <div class="row">
    <div class="col-12">
      <label *ngIf="apiError" class="custom-error">{{ apiError }}</label>
    </div>
  </div>
  <button class="btn btn-primary" (click)="submit()">Edit project</button>
</form>
