@import url('../../../../assets/admin-lte/css/icheck-bootstrap.min.css');

.login-page-bg-image {
    background-image: url('../../../../assets/img/login-background-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.dark-mode .login-page-bg-image {
    background-image: url('../../../../assets/img/login-background-dark.jpg');
}